.buttonsWrapper {
    align-self: center;
}
.btn {
    font-size: 30px;
    border: 3px solid green;
    border-radius: 8px;
    background-color: aqua;
    color: green;
    padding: 20px;
    margin-top: 50px;

    &:hover {
        cursor: pointer;
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.textarea {
    width: 25em;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
    transition: color 0.3s ease;

    &:hover {
        color: #000;
    }
}

.doneBtn {
    display: block;
    margin-top: 20px;
}

.divInput label{
    font-size: 20px;
}

// styles.module.scss
.calendar {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .calendar .react-calendar {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .calendar .react-calendar__tile--active {
    background-color: #007BFF;
    color: white;
  }
  
  .calendar .react-calendar__tile--active:enabled:hover {
    background-color: #0056b3;
  }
  
  .calendar .react-calendar__tile--hasActive {
    background-color: #007BFF;
    color: white;
  }
  
  .calendar .react-calendar__tile--hasActive:enabled:hover {
    background-color: #0056b3;
  }
  