// styles.module.scss
.checkboxWrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
  }

  .checkboxWrapperChecked {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(137, 137, 137, 0.3);
  }
  
  .checkboxInput {
    display: none;
    margin-top: 5px;
  }
  
  .checkboxLabel {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    font-size: 30px;
  }
  
  .checkboxCustom {
    position: absolute;
    top: 9px;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  .checkboxInput:checked + .checkboxLabel .checkboxCustom {
    background-color: #2196F3;
  }
  
  .checkboxCustom:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkboxInput:checked + .checkboxLabel .checkboxCustom:after {
    display: block;
  }
  
  .checkboxCustom:after {
    left: 12px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  .spanChecked {
    text-decoration: line-through;
  }
  